@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";
@import "../layout/Grid.scss";
@import "../components/card.scss";

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 81vh;
  justify-content: flex-start;
  margin-top: 20px;

  &__title {
    margin-bottom: 1rem;
    font-family: $font-primary;
  }

  &__subtitle {
    margin-bottom: 2rem;
    color: $color-secondary;
  }

  &__cards {
    margin-top: 100px;
  }

  &__button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 1rem;
    .button {
      font-size: 270%;
      &--principal {
        height: 9.375rem;
        width: 99%;
        background-size: 100%;
        background-position-y: 50%;
      }

      &--primary {
        width: 49%;
        height: 12.5rem;
        background-size: 100%;
        background-position-y: 43%;
      }

      &--secondary {
        width: 49%;
        height: 12.5rem;
        background-size: 100%;
        background-position-y: 30%;
      }

      &--tertiary {
        width: 49%;
        height: 12.5rem;
        background-size: 100%;
        background-position-y: 45%;
      }

      &--quaternary {
        width: 49%;
        height: 12.5rem;
        background-size: 100%;
        background-position-y: 36%;
      }
    }
  }
}

@include media-query(tablet) {
  .home-page {
    &__button {
      .button {
        font-size: 270%;
        &--principal {
          height: 6.25rem;
          width: 99%;
          background-size: 100%;
          background-position-y: 50%;
        }

        &--primary {
          width: 48.5%;
          height: 9.375rem;
          background-size: 100%;
          background-position-y: 43%;
        }

        &--secondary {
          width: 48.5%;
          height: 9.375rem;
          background-size: 100%;
          background-position-y: 35%;
        }

        &--tertiary {
          width: 48.5%;
          height: 9.375rem;
          background-size: 100%;
          background-position-y: 45%;
        }

        &--quaternary {
          width: 48.5%;
          height: 9.375rem;

          background-size: 100%;
          background-position-y: 36%;
        }
      }
    }
  }
}

@include media-query(mobile) {
  .home-page {
    &__button {
      .button {
        font-size: 270%;
        &--principal {
          height: 6.25rem;
          width: 99%;
          background-size: 100%;
          background-position-y: 50%;
        }

        &--primary {
          width: 47%;
          height: 9.375rem;
          background-size: 100%;
          background-position-y: 43%;
        }

        &--secondary {
          width: 47%;
          height: 9.375rem;
          background-size: 100%;
          background-position-y: 35%;
        }

        &--tertiary {
          width: 47%;
          height: 9.375rem;
          background-size: 100%;
          background-position-y: 45%;
        }

        &--quaternary {
          width: 47%;
          height: 9.375rem;
          background-size: 100%;
          background-position-y: 36%;
        }
      }
    }
  }
}
