@import "../abstracts/variables";
@import "../abstracts/mixins.scss";

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  border-radius: 1.25rem;
  &__input {
    height: 3.125rem;
    padding-left: 1.4375rem;
    width: 100%;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 1.25rem;
    border: 0.0625rem solid #000000;
    box-shadow: 0.1875rem 0.1875rem 0.3125rem #000000;
  }
}

@include media-query(tablet) {
  .header__search {
    width: 85%;
  }
}

@include media-query(mobile) {
  .header__search {
    width: 85%;
  }
}
