@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: $color-primary;
  color: $color-light;
  width: 100%;
  gap: 15px;

  &__icon {
    margin: 0 0.25rem;
    font-size: 1.5rem;
  }
}
