@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 0.5rem;
}

@include media-query(tablet) {
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@include media-query(desktop) {
  .col-4 {
    flex: 0 0 22.2%;
    max-width: 33.333333%;
  }
}
